<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
	<title>Rango</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<!-- JavaScript -->
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
	<h1>Rango says...</h1>
	<div>howdy partner</div>
	<div>
		{% if categories %}
		<strong>Most Liked Categories</strong>
		<ul>
			{% for category in categories %}
				<li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no categories present</strong>
		{% endif %}
	</div>
	<div>
		<strong>Most Viewed Pages</strong>
		{% if pageviews %}
		<ul>
			{% for view in pageviews %}
				<li><a href="{{ view.url }}">{{ view.title }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>There are no viewed pages</strong>
		{% endif %}
	<div>
		<a href="/rango/about">About</a><br>
		<img src="{% static 'images/rango.gif' %}" alt="Pic of Rango">
	</div>
</body>
</html>